---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js" defer></script>
		<!-- <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script> -->
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<article class="max-w-screen-2xl mx-auto min-h-screen pb-16 bg-gradient-to-br from-70% from-primary-700 via-85% via-primary-800 to-90% to-primary-900">
			<Navbar />
			<div>
				<slot />
			</div>
		</article>
	</body>
</html>

<!-- <style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), rgb(var(--accent-light)) 30%, white 60%);
		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
</style> -->
